{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}crud{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A crud in python">
    <meta name="author" content="DiazRock">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      <script defer src="{% static 'js/vendors.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.min.js' %}"></script>

      <script defer src="{% static 'js/api_call_applicants.js' %}"></script>
      <script defer  src="{% static 'js/jspdf.min.js' %}" ></script>

    {% endblock javascript %}

  </head>
  <style>
    th{ 
        color:#fff;
            }
  </style>
  <body onload="initPage('list', 'form')">

    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      <button 
        id="btnAdd"
        onclick="getExperienceByTechAndBuildTable('list')"
      > 
        Experience by tech
      </button>
      <button 
          type="button" 
          data-bs-dismiss="alert" 
          aria-label="Close"
          onclick="getApplicantsAndBuildTable()">
            Show Applicants table
        </button>
      <button 
          type="button" 
          data-bs-dismiss="alert" 
          aria-label="Close"
          onclick="getApplicantsWithTechExperienceAndBuildTable()">
            Applicants and Techs
      </button>

      <form id="form">
      

        <label for="list">Technology List:</label>
        <select id="list" name="list">
        </select>
      </form>

      <div id = "scope_table">
        
      </div>
      <button id="btnAdd"
              onclick="pdfExport('scope_table')"
              > Export Table
      </button>
      {% endblock content %}
      
    </div> <!-- /container -->
    
    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        
      });
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>